<!DOCTYPE html>
<html>
  <head>
    <title>Tripplan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flash" %>
    <% show_app_shell = !((controller_name == "pages" && action_name == "home") || devise_controller?) %>
    <% if show_app_shell %>
      <%= render "shared/app_header" %>
      <main class="tp-page">
        <%= render "shared/container" do %>
          <%= yield %>
        <% end %>
      </main>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
